<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2><%= @user %> has created a new <%= @game_session.game.title.titleize %> gaming session!</h2>
</body>
