<div class="menu">
          
  <a href="/users/<%= current_user.id %>" class="item"><%= image_tag current_user.avatar.url, class:"ui avatar image" %> <%= current_user.user_name %></a>
  
  <div class="item">
    
    <div class="ui button"><i class="sign out icon"></i> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
  
  </div>
  
</div>