<div class="menu">
  <div class="item">
    <div class="ui button"><i class="sign in icon"></i> <a href="/users/sign_in">Log-in</a></div>
  </div>
  <div class="item">
    <div class="ui primary button"><i class="add user icon"></i> <a class="sign-up-btn" href="/users/sign_up">Sign Up</a></div>
  </div>
</div>