<div class="menu">
  <div class="item">
    <i class="sign in icon"></i> <a href="/users/sign_in">Log-in</a>
  </div>
  <div class="item">
    <i class="add user icon"></i> <a class="sign-up-btn" href="/users/sign_up">Sign Up</a>
  </div>
</div>