<div class="menu">
  <div class="item">
    <div class="ui button"><a href="/users/sign_in">Log-in</a></div>
  </div>
  <div class="item">
    <div class="ui primary button"><a class="sign-up-btn" href="/users/sign_up">Sign Up</a></div>
  </div>
</div>