<div class="ui inverted teal fixed menu">
  <a id="main-menu" class="item">
    <i class="sidebar icon"></i>
      Menu
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      <i class="user icon"></i> User <i class="dropdown icon"></i>
      <% if current_user.nil? %>
        <%= render "navbar/guest_bar" %>
      <% else current_user %>
        <%= render "navbar/current_user_bar" %>
      <% end %>
    </div>
  </div>
</div>