<div class="ui left vertical inverted labeled icon sidebar menu" id="side-menu">
  <a href="/" class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>