<div class="ui left vertical inverted teal labeled icon sidebar menu" id="side-menu">
  <a href="/" class="item">
    <i class="home icon"></i>
    Home
  </a>
  <div class="ui divider"></div>
  <a class="item">
    <i class="mail icon"></i>
    Messages
  </a>
  <div class="ui divider"></div>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
  <div class="ui divider"></div>
</div>