<div class="ten wide centered column">
<div class="ui attached message">
    <div class="header">
      Welcome to our site!
    </div>
    <p>Fill out the form below to sign-up for a new account</p>
</div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "ui form attached fluid segment"}) do |f| %>
    <%= devise_error_messages! %>

    <div class="required field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, required: true %>
    </div>
  
    <div class="required field">
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name, required: true %>
    </div>
    
    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %>
    </div>
    
    <div class="required field">
      <%= f.label :time_zone %><br />
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, model: ActiveSupport::TimeZone, html: {class: "ui selection dropdown", id: "time-zone-dropdown"}, required: true %>
    </div>
  
    <div class="required field">
      <%= f.label :xbox_name, "Xbox GamerTag" %>
      <%= f.text_field :xbox_name, required: true %>
    </div>
  
    <div class="field">
      <%= f.label :steam_name, "Steam Name" %>
      <%= f.text_field :steam_name %>
    </div>
  
    <div class="field">
      <%= f.label :twitch_name, "Twitch Handle" %>
      <%= f.text_field :twitch_name %>
    </div>

    <div class="required field">
      <%= f.label :password %>
      <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="required field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <div class="ui bottom attached warning message">
    <i class="icon help"></i>
    Already have an account? <a href="/users/sign_in">Login here</a> instead.
  </div>
</div>