<div class="ten wide centered column">
  <div class="ui attached message">
      <div class="header">
        Game Session
      </div>
  </div>
    <%= form_for @game_session, html: { class: "ui form attached fluid segment" } do |f| %>
      <% if @game_session.errors.any? %>
        <div id="error_explanation" class="ui negative message">
          <i class="close icon"></i>
          <div class="header"><%= pluralize(@game_session.errors.count, "error") %> prohibited this game_session from being saved:</div>

          <ul>
            <% @game_session.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  
        <div class="required field">
          <%= f.label :notes %>
          <%= f.text_area :notes, :required => true %>
        </div>
        
        <div class="required field">
          <%= f.label :game_date %>
          <div class="four fields">
            <%= f.date_field :game_date, class: "datepicker two fields", required: true, value: Time.now.strftime('%Y-%m-%d') %>
          </div>
        </div>

        <div class="required field">
          <%= f.label :start_time %>
          <div class="two fields">
            <%= f.time_select :start_time, {ampm: true, time_separator: "", default: @current_time}, class: "ui search selection dropdown" %>
          </div>
        </div>
  
        <div class="required field">
          <%= f.label :end_time %>
          <div class="two fields">
            <%= f.time_select :end_time, {ampm: true, time_separator: "", default: @current_time+1.hour}, class: "ui search selection  dropdown"  %>
          </div>
        </div>


        <div class="required field">
          <%= f.label :game %>            
          <%= f.select :game_id, options_for_select(@games.collect { |game|
                                                     [game.title.titleize, game.id] }, @current_game ), {}, {id: 'games_select', class: ""} %>
        </div>
         <% #TODO Fix semantic-ui dropdown to properly refresh dropdown text after pulling gamemodes %>
        <div class="required field">
          <%= f.label :game_mode_id, "Game Mode" %>
          <%= f.select :game_mode_id, options_for_select(@game_modes.collect { |game_mode|
                                                     [game_mode.title.titleize, game_mode.id] }, @current_game_mode ), {}, {id: 'game_mode_select'} %>
        </div>

      <%= f.submit "Go!", class: "ui right floated green button" %>

   <% end %>
</div>