<div class="ui ten wide centered column">
  <div class="ui orange segment">
    <h1 class="ui header">
      <i class="plus icon"></i>
      <div class="content">Editing Game Session</div>
    </h1>
  </div>
</div>

<%= render 'form' %>