<div id="filter" class="ui floating labeled icon dropdown button">
  <i class="filter icon"></i>
  <span class="text">Filter</span>
  <div class="menu">
    <div class="header">
      <i class="tags icon"></i>
      Filter by Game
    </div>
    <div id="all-sessions" class="item">All Games</div>
    <% cache do %>
      <% Game.all.each do |game| %>
        <div class="item filter-session" data-id="<%= game.id %>">
          <%= image_tag game.game_icon.url(:thumb), class: "ui mini circular image" %><%= game.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>