<h2 class="ui header">Current Gaming Sessions</h2>
  <div class="ui divider"></div>
  <%= render 'home/filter_game_sessions' %>
  <%= render 'home/new_game_button' %>

  <div class="ui divider"></div>

  <div class="ui cards game-cards">
    <% @game_sessions.each do |game_session| %>
    <div class="ui card">
      <p class="image">
        <%= image_tag game_session.game.game_icon.url %>
      </p>
      <div class="content">
        <%= link_to game_session.game.title.titleize + " | " +  game_session.game_mode.title.titleize, game_session, class: "header" %>
        <div class="meta">
          <p>users: <%= game_session.users.count %>/<%= game_session.game_mode.total_players %></p>
          <div class="ui divided list">
            <% game_session.users.each do |user| %>
            <div class="item">
              <%= image_tag user.avatar.url, class: "ui avatar image" %>
              <div class="content">
                <div class="header"><%= link_to user.user_name, user_path(user) %></div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        
        <div class="ui divider"></div>
        
        <div class="description">
          <p><strong>Notes:</strong> <%= game_session.notes%></p>
          <p><strong>Game Date:</strong> <%= local_date(game_session.game_date, '%B %e') %></p>
          <p><strong>Start Time:</strong> <%= local_time(game_session.start_time, '%l:%M%P') %></p>
          <p><strong>End Time:</strong> <%= local_time(game_session.end_time, '%l:%M%P') %></p>
          
          <div class="ui divider"></div>
          
          <% if user_signed_in? && game_session.users.ids.include?(current_user.id) %>
            <%= button_to 'Leave Game', leave_game_path(game_session), action: "leave_game", class: "game-button mini ui primary button" %>
            <% if can? :edit, GameSession %>
                <%= button_to 'Edit Session', edit_game_session_path(game_session), method: :get, class: "game-button mini ui orange button" %>
            <% end %>
          <% else %>
            <%= link_to 'Join Game', join_game_path(game_session), action: "join_game", method: :post, class: "game-button mini ui primary button" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>