<div class="ten wide centered column">
  <div class="ui attached message">
      <div class="header">
        Game Form
      </div>
  </div>
    <%= form_for @game, html: {class: "ui form attached fluid segment"} do |f| %>
      <% if @game.errors.any? %>
        <div id="error_explanation" class="ui negative message">
          <i class="close icon"></i>
          <div class="header"<%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</div>

          <ul>
            <% @game.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="required field">
        <%= f.label :title %><br>
        <%= f.text_field :title, required: true %>
      </div>

      <div class="field">
        <%= f.label :game_icon, "Game Icon" %>
        <% if @game.game_icon.exists? %>
          <%= image_tag @game.game_icon.url(:medium) %><br />
        <% end %>
        <%= f.file_field :game_icon %>
      </div>

      <div class="required field">
        <%= f.label :description %><br>
        <%= f.text_area :description, required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", class: "ui right floated green button" %>
      </div>
    <% end %>
</div>