<div class="ui ten wide column centered orange segment">
  <h1 class="ui header">
    <i class="write square icon"></i> 
    <div class="content">Editing Game</div>
  </h1>
</div>

<%= render 'form' %>
