<div class="ui ten wide centered column">
  <div class="ui green segment">
    <h1 class="ui header">
      <i class="plus icon"></i>
      <div class="content">New Game</div>
    </h1>
  </div>
</div>

<%= render 'form' %>
