<p id="notice"><%= notice %></p>
<div class="twelve wide centered column">
  
  <div class="ui segment four wide column">
      <div class="ui items">
      <div class="item">
        <p class="image">
          <%= image_tag @game.game_icon.url %>
        </p>
        <div class="content">
          <p class="header"><%= @game.title %></p>
          <div class="description">
            <%= @game.description %>
          </div>
        </div>
        <div class="extra">
          <%= button_to 'Edit', edit_game_path(@game), method: "get", class: "ui right floated orange button" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="seven wide column">
    <h2>Game Modes</h2>
    <div class="ui divider"></div>
    <table class="ui tablet stackable table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Total Players</th>
          <th class="right aligned">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @game.game_modes.each do |game_mode| %>
          <td><%= game_mode.title %></td>
          <td><%= game_mode.total_players %></td>
          <td><%= link_to 'Destroy', {}, class: "ui right floated red button" %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
