/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require home
 *= require game_sessions
 *= require games
 *= require users
 *= require_self
 */
body {
  background: rgba(218,223,225,0.8);
}
.ng-session {
  display: inline-block;
}

.pusher {
  padding: 2rem 1rem 0rem 1rem;
  height: 100%;
}

.sign-up-btn {
  color: #FFFFFF;
}

h4.ui.inverted.header {
  text-align: center;
}

i.footer-heart.heart.icon {
  display: inline;
}

.ui.inverted.vertical.segment.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ui.segment:first-child {
  margin-top: 2em;
}

.ui.success.flash.message {
  margin: 1em 0em 0em 0em;
}

.ui.negative.flash.message {
	margin: 1em 0em 0em 0em;
}