/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic_ui/semantic_ui
 *= require home
 *= require game_sessions
 *= require games
 *= require users
 *= require_self
 */
body {
  background: rgba(218,223,225,0.8);
}

.ng-session {
  display: inline-block;
}

.pusher {
  padding: 2rem 1rem 0rem 1rem;
  height: 100%;
}

.sign-up-btn {
  color: #FFFFFF;
}

h4.ui.inverted.header {
  text-align: center;
}

i.footer-heart.heart.icon {
  display: inline;
}

.ui.inverted.vertical.segment.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ui.segment:first-child {
  margin-top: 2em;
}

.ui.success.flash.message {
  margin: 2em 0em -1em 0em;
}

.ui.negative.flash.message {
  margin: 2em 0em -1em 0em;
}

.ui.cards.game-cards {
  margin-left: auto;
  margin-right: auto;
  width: 91%;
}

.ui.inverted.teal.menu {
  border: 1px solid #0D8E88;
  border-width: 0 0 4px 1px;
}

.ui.inverted.menu .item .item > a:not(.ui) {
  color: rgba(11, 11, 11, 0.5);
}

.ui.inverted.menu .dropdown .menu .item:hover {
  background: rgba(0, 0, 0, 0.15) !important;
}

.ui.inverted.menu .dropdown .menu .item {
  color: rgba(11, 11, 11, 0.5) !important;
}

.card-holder {
  min-height: 25em;
}

.no-games {
  margin: auto;
  position: absolute;
  top: 30%;
  left: 0;
  bottom: 0;
  right: 0;
  color: lightgray !important;
}

#messages {
  margin-right: 0em !important;
}

.ui.header > .icon {
  padding-top: 0em !important;
}

i.icon {
  font-size: 1.2em;
}

.ui.avatar.image {
  width: 1.5em !important;
  height: 1.5em !important;
  margin-right: 0 !important;
}

.ui.avatar.game-avatar.image {
  width: 2.5em !important;
  height: 2.5em !important;
}

.menu-user .icon {
  color: rgb(44, 43, 43) !important;
}

.ten.wide.centered.column.login {
  margin-top: 1em !important;
}

.news {
  min-height: 25em;
}