<div class="ui ten wide centered column">
  <div class="ui green segment">
    <h2 class="ui header">
      <i class="plus icon"></i>
      <div class="content">New Game Session</div>
    </h2>
  </div>
  <%= render 'form' %>
</div>