<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ClanCenter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'navbar/side_bar' %>
  <%= render 'navbar/navbar' %>
  
  <div class="pusher">
		
		<% if notice %>
		<div class="ui success flash message">
			<i class="close icon"></i>
			<div id="notice" class="header">
				<%= notice %>
			</div>
		</div>
		<% elsif alert %>
		<div class="ui negative flash message">
			<i class="close icon"></i>
			<div id="alert" class="header">
				<%= alert %>
			</div>
		</div>
		<% end %>
		
    <div class="sixteen column stackable padded ui grid">
      <%= yield %>
    </div>
  </div>  

</body>
</html>
